*.cbp
*.layout
*.depend
*.o
/project/driver
/project/driver1
/project/driver2
/project/driver3
/project/driver4
/project/driver5
/project/driver6
/project/driver7
project/driver8
project/DISK1
project/DISK2
DISK1
bin/
src/
project/out1.txt
project/out2.txt
project/out3.txt
project/out4.txt
project/out5.txt
project/out6.txt
project/out7.txt
project/out8.txt
